.advantages
  margin-bottom 71px
  &__wrap
    display grid
    grid-template-columns repeat(4, 1fr)
  &__item
    text-align center
  &__img
    margin-bottom 10px
  &__title
    margin-bottom 21px
    font-family $OpenSans
    font-size $px44
    font-weight $bold
    text-tranform uppercase
    &_blue
      color $blue-dark
    &_orange
      color $orange
    &_green
      color $green
    &_red
      color $red
  &__text
    max-width 69%
    margin 0 auto
    color $gray

