.calc
  margin-bottom 140px
  &__title
    margin-bottom 21px
    font-family $OpenSans
    font-size 24px
    font-weight 700
    text-align center
  &__text
    max-width 574px
    margin 0 auto 32px
    font-family $Raleway
    font-size 24px
    line-height 150%
    text-align center
  &__wrap
    position relative
    max-width 1030px
    margin 0 auto
    padding 67px 59px 54px 65px
    box-sizing border-box
    box-shadow 0 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0 15.8955px 0px rgba(191, 204, 225, 0.0372931)
    border-radius 8px
    background rgba(255, 255, 255, 0.3)
    &::before
      content ""
      position absolute
      top -4px
      left -29px
      width 105.5%
      height 107%
      box-shadow 0 38px 56px rgba(191, 204, 225, 0.39), 0px 20.7957px 15.3272px rgba(191, 204, 225, 0.177553), 0 15.8955px 0 rgba(191, 204, 225, 0.0372931)
      z-index -1
    &::after
      content ""
      position absolute
      top -7px
      left -86px
      width 115px
      height 156px
      background url("../img/icons/calc-decor.svg") top left no-repeat
      background-size cover
  &__row
    display flex
    justify-content space-between
    margin-bottom 68px
  &__item
    width 30%
    .choices::after
      content url("../img/icons/select-arrow.svg")
      top 11px
      right 21px
      border none
    .choices__inner
      min-width 174px
      height 42px
      min-height 100%
      padding 4px 15px 4px 9px
      border 1px solid $blue;
      background $white
      box-sizing border-box
      border-radius 5px
    .choices[data-type*=select-one] .choices__inner
      padding-bottom 0
    .choices__list--single
      font-family $Mulish
      font-size 16px
      font-weight 700
    .is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded]
      min-width 174px
      border-color $blue
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable
      padding-right 10px
    .choices[data-type*=select-one].is-open::after
      margin-top -3px
    .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted
      background-color $blue
  &__item-title
    margin-bottom 5px
    padding-left 13px
    letter-spacing 0.03em
  &__list
    margin-bottom 46px
  &__list-item
    margin-bottom 19px
  &__input
    display none
  &__label
    position relative
    padding-left 32px
    letter-spacing 0.03em
    &::before
      content ""
      position absolute
      top 0
      left 0
      width 19px
      height 19px
      border 1px solid $blue
      border-radius 3px
  &__input:checked + .calc__label
    position relative
    &::before
      content ""
      position absolute
      top 0
      left 0
      width 19px
      height 19px
      border 1px solid $blue
      border-radius 3px
    &::after
      content url("../img/icons/check.svg")
      position absolute
      top -2px
      left 4px
  &__footer
    display flex
    justify-content space-between
    align-items center
  &__btn
    padding 9px 47px 9px 49px
  &__footer-list
    display flex
    align-items center
  &__footer-item
    margin-right 30px
    &:last-child
      margin-right 0
  &__footer-input
    display none
  &__footer-label
    position relative
    padding-left 32px
    letter-spacing 0.03em
    &::before
      content ""
      position absolute
      top 0
      left 0
      width 19px
      height 19px
      border 1px solid $blue
      border-radius 50%
  &__footer-input:checked + .calc__footer-label
    position relative
    &::before
      content ""
      position absolute
      top 0
      left 0
      width 19px
      height 19px
      border 1px solid $blue
      border-radius 50%
    &::after
      content ""
      position absolute
      top 2px
      left 2px
      width 17px
      height 17px
      background $blue
      border-radius 50%
  &__footer-logo
    max-width 111px
