.cta
  position relative
  color $white
  &__wrap
    max-width 615px
    margin 0 auto
    padding-top 191px
    text-align center
    @media (min-width 1900px)
      padding-top 305px

  &__title
    margin-bottom 41px
    font-family $OpenSans
    font-size 30px
    font-weight $bold
    text-transform uppercase
    line-height 120%

  &__text
    max-width 555px
    margin 0 auto 49px
    letter-spacing 0.02em

  &__btn
    background transparent
    border-color $white
    color $white
    box-shadow none

  &__img
    position absolute
    top -40px
    left 0
    width 100%
    z-index -1
