.hero
  position relative
  margin-bottom 80px
  padding 158px 0
  &__wrap
    max-width 755px
    margin 0 auto
    text-align center
  &__title
    margin-bottom 66px
    font-family $OpenSans
    font-size $px44
    font-weight $bold
    text-transform $up
    line-height 120%
  &__text
    max-width 560px
    margin 0 auto 65px
    letter-spacing 0.02em
  &__img
    position absolute
    top -110px
    left 0
    width 100%
    z-index: -1
