@import "common/variables.styl"
@import "common/mixins.styl"
@import "common/reset.styl"
@import "common/fonts.styl"
@import "common/common.styl"

@import "blocks/header.styl"
@import "blocks/footer.styl"

@import "includes/index/hero.styl"
@import "includes/index/advantages.styl"
@import "includes/index/nav.styl"
@import "includes/index/calc.styl"
@import "includes/index/types.styl"
@import "includes/index/special.styl"
