extends common/layout.pug

block variables
  - let title = "Fides - Профессиональная уборка"

block main
  main
    include includes/index/hero
    include includes/index/advantages
    include includes/index/nav
    include includes/index/calc
    include includes/index/types
    include includes/index/special
