@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:  url("../fonts/Mulish-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/Mulish-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:  url("../fonts/Raleway-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:  url("../fonts/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:  url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Jost";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src:  url("../fonts/Jost-SemiBold.woff2") format("woff2");
}
