// Fonts
$Raleway = "Raleway", Arial, Helvetica, sans-serif
$Mulish = "Mulish", Arial, Helvetica, sans-serif
$OpenSans = "Open Sans", Arial, Helvetica, sans-serif
$Jost = "Jost", Arial, Helvetica, sans-serif

// Colors
$white = #ffffff
$black = #000000
$blue = #009DCE
$blue-dark = #0089C4
$orange = #EF7E4E
$green = #1E865D
$red = #C32D1F
$gray = #4E525B
$gray-light = #E7E7E7

// Font size
$px16 = 16px
$px18 = 18px
$px20 = 20px
$px22 = 22px
$px24 = 24px
$px26 = 26px
$px28 = 28px
$px30 = 30px
$px44 = 44px

// Font Weight
$normal = 400
$medium = 500
$semibold = 600
$bold = 700

// Text Decoration
$up = uppercase
