.advantages
  .container
    .advantages__wrap
      .advantages__item
        img.advantages__img(src="img/icons/advantages-1.svg" alt="")
        .advantages__title.advantages__title_blue 2016
        .advantages__text год основания &laquo;Fides&raquo;
      .advantages__item
        img.advantages__img(src="img/icons/advantages-2.svg" alt="")
        .advantages__title.advantages__title_orange 100+
        .advantages__text обслужаваем объектов в&nbsp;Москве и&nbsp;регионах&nbsp;РФ только в&nbsp;2021 году
      .advantages__item
        img.advantages__img(src="img/icons/advantages-3.svg" alt="")
        .advantages__title.advantages__title_green 1&nbsp;000+
        .advantages__text разовых услуг для клиентов по&nbsp;клинингу
      .advantages__item
        img.advantages__img(src="img/icons/advantages-4.svg" alt="")
        .advantages__title.advantages__title_red 120
        .advantages__text профессиональных клинеров в&nbsp;нашей команде
