section.calc
  .container
    h2.calc__title Калькулятор уборки
    .calc__text Заполните форму и получите персональное коммерческое предложение
    .calc__wrap
      .calc__row
        .calc__item
          .calc__item-title Площадь
          select.calc__select.calc__select_first(name="square")
            option до 20 м.кв.
            option до 50 м.кв.
            option до 100 м.кв.
        .calc__item
          div.calc__item-title Вид клининга
          select.calc__select.calc__select_second(name="view")
            option Комплексная уборка
            option После ремонта
        .calc__item
          div.calc__item-title Частота
          select.calc__select.calc__select_third(name="count")
            option Раз в ределю
            option Ежедневно
      ul.calc__list
        li.calc__list-item
          input#point1.calc__input(type="checkbox")
          label.calc__label(for="point1") Поставка расходных материалов
        li.calc__list-item
          input#point2.calc__input(type="checkbox")
          label.calc__label(for="point2") Техническое обслуживание
        li.calc__list-item
          input#point3.calc__input(type="checkbox")
          label.calc__label(for="point3") Вывоз мусора
      div.calc__footer
        button.calc__btn.btn Рассчитать
        ul.calc__footer-list
          li.calc__footer-item
            input#beznds.calc__footer-input(type="radio" name="nds")
            label.calc__footer-label(for="beznds") Без НДС
          li.calc__footer-item
            input#snds.calc__footer-input(type="radio" name="nds")
            label.calc__footer-label(for="snds") С НДС
        img.calc__footer-logo(src="img/logo.png" alt="")
