section.clean
  .container
    h2.clean__title Профессиональный клининг
    p.clean__text СТА для тех, кто готов на подписку готового предложения и у кого закрыты возражения о профессионализме команды  и качестве услуг Предложение подписки на длительное время дает клиенту выгоду, по сравнению с заказом отдельных услуг.
    .clean__wrap
      .clean__item
        .clean__item-subtitle Специальный тариф
        .clean__item-wrap
          .clean__item-title Знакомство с сервисом
          .clean__item-label Только для новых клиентов
          .clean__item-price от 80 руб/м2
          .clean__item-description на первую заявку
          ul.clean__list
            li.clean__list-item Мойка напольного покрытия и удаление пыли с поверхностей
            li.clean__list-item Мойка дверей и дверных проемов
            li.clean__list-item Протирка кондиционеров, выключателей, розеток
          button.clean__btn.btn Оставить заявку
      .clean__item
        .clean__item-subtitle Оптимальное решение. Экономия 20%
        .clean__item-wrap
          .clean__item-title Разовая Генеральная уборка + поддерживающая уборка
          .clean__item-price от 180 руб/м2
          .clean__item-description.clean__item-description_check при договоре на полгода <span>-20%</span>
          ul.clean__list
            li.clean__list-item Сухая и влажная уборка поверхностей
            li.clean__list-item Мытье окон
            li.clean__list-item Дезинфекция помещений
            li.clean__list-item Влажная уборка
            li.clean__list-item Удаление пыли с поверхностей
            li.clean__list-item Вынос мусора
          .clean__footer
            img.clean__footer-img(src="img/icons/clean-plus.svg" alt="")
            .clean__footer-text “Техническое обслуживание” вашего помещения без абонентской платы
        button.clean__btn.btn Оставить заявку
      .clean__item
        .clean__item-subtitle Все включено!
        .clean__item-wrap
          .clean__item-title Регуляная Генеральная уборка + ежедневная комплексная
          .clean__item-price от 200 руб/м2
          .clean__item-description.clean__item-description_check при договоре на полгода <span>-20%</span>
          ul.clean__list
            li.clean__list-item Сухая и влажная уборка поверхностей
            li.clean__list-item Мытье окон
            li.clean__list-item Дезинфекция помещений
            li.clean__list-item Мойка напольного покрытия и удаление пыли с поверхностей
            li.clean__list-item Мойка дверей и дверных проемов
            li.clean__list-item Протирка кондиционеров, выключателей, розеток
          .clean__footer
            img.clean__footer-img(src="img/icons/clean-plus.svg" alt="")
            .clean__footer-text “Техническое обслуживание” вашего помещения без абонентской платы
        button.clean__btn.btn Оставить заявку
    .clean__bonus
      img.clean__bonus-img(src="img/icons/clean-img.svg" alt="")
      .clean__bonus-wrap
        .clean__bonus-label Бонус для наших клиентов
        .clean__bonus-title “Техническое обслуживание”<span>что входит?</span>
        ul.clean__bonus-list
          li.clean__bonus-item Комплексная техническая эксплуатация инженерных систем.
          li.clean__bonus-item Мелкий ремонт
          li.clean__bonus-item Спец работы
          li.clean__bonus-item Снабжение любыми материалами
      .clean__bonus-price
        .clean__bonus-price-title спец.цена
        .clean__bonus-price-text от <span>85</span> руб/м2
