section.cta
  .contianer
    .cta__wrap
      h2.cta__title Развернутый СТА. Консультация эксперта.
      .cta__text Предложение рассмотреть заявку от пользователя и ответить на все вопросы (для клиентов которые внимательно изучают преимущества)
      button.cta__btn.btn Оставить заявку
  img.cta__img(src="img/icons/wave-bg.svg" alt="")
