section.hero
  .container
    .hero__wrap
      h1.hero__title Профессиональная уборка высокого качества
      p.hero__text Дескриптер с упором на быстрый заказ. для клиентов, готовых заказать сразу со старта) либо уже для вернувшихся, тех, кто изучил ранее контент и вернулся для заказа
      button.hero__btn.btn Оставить заявку
  img.hero__img(src="img/hero-img.png" alt="Fides")
