section.iso
  .container
    .iso__header
      h2.iso__title Качество, подтвежденное сертификатом ISO
      .iso__text Дескриптер с упором клиентов, которые хотят узнать о подходе в работе, которые ищут профессионалов и которым очень важны детали работы.
    .iso__wrap
      .iso__item.iso__item_watch
        img.iso__img(src="img/icons/iso.svg" alt="")
        a.iso__link(href="#") посмотреть сертификат
      .iso__item.iso__item_orange
        .iso__item-title Качество уборки
        .iso__circle 1
        .iso__item-text Мы обеспечиваем высокие стандарты качества с помощью программ сертификации и обучения. Мы постоянно стремимся к совместной с Вами организации экономичных и оптимальных процессов производства.
      .iso__item.iso__item_green
        .iso__item-title Внимание к деталям
        .iso__circle 2
        .iso__item-text Высококвалифицированные и мотивированные сотрудники – основа хорошей работы. Поэтому мы гордимся, что они занимаются ей с удовольствием.
      .iso__item.iso__item_red
        .iso__item-title Гибкий подход
        .iso__circle 3
        .iso__item-text По результатам подробного анализа систем здания и потребностей клиента мы разрабатываем индивидуальный план мероприятий по обслуживанию.
      .iso__video
        .iso__video-title Как мы работаем?
        a.iso__video-link(href="#") смотреть видео
