section.job
  .container
    h2.job__title Поручите рутинную работу профессионалам
    .job__subtitle.job__subtitle_first Доступность
    .job__row-first
      .job__item
        .job__item-false Миф №1
        .job__item-title Клининг - это дорого!
        .job__item-true Правда
        p.job__item-text Контр-аргумент. Нет, у нас гибкие тарифные планы, доступные цены, всегда можно попробовать, для этого есть специальный тариф.
        button.job__item-btn.btn Оставить заявку
      .job__item
        .job__item-false Миф №2
        .job__item-title Сложно договориться и неоперативно
        .job__item-true Правда
        p.job__item-text Контр-аргумент. Нет, у нас гибкие тарифные планы, доступные цены, всегда можно попробовать, для этого есть специальный тариф.
