nav.nav
  .container
    .nav__wrap
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Услуги
        li.nav__item
          a.nav__link(href="#") Калькулятор
        li.nav__item
          a.nav__link(href="#") Качество
        li.nav__item
          a.nav__link(href="#") Тарифы
        li.nav__item
          a.nav__link(href="#") Контакты
      button.nav__btn.btn Оставить заявку
