section.price
  .container
    .price__wrap
      h2.price__title Цена и качество
      p.price__text Признанное и сертифицированное качество уборки и очистки зданий представляет собой неисчерпаемую тему. Мы обеспечиваем чистоту для наших клиентов, трудящихся в сферах производства, ремесел, государственной и общественной службы, медицины и крупного домовладения не только в результате использования эффективного и хорошо скоординированного персонала, но и экологически чистых средств очистки и современного оборудования. Только постоянная забота о качестве служит залогом успеха нашей деятельности.
      ul.price__list
        li.price__item.price__item_red
          .price__item-title Всегда на связи
          .price__item-text Вы всегда можете связзаться с личным менеджером и согласовать план работ. Мы на связи 24/7
        li.price__item.price__item_green
          .price__item-title Соблюдение договора
          .price__item-text Многие только говорят о надежности результатов деятельности, мы же обеспечиваем ее ежедневно.
        li.price__item.price__item_orange
          .price__item-title Оперативное решение проблем
          .price__item-text клиент постоянно может контролировать ход соблюдения наших обещаний.
  img.price__img.price__img_before(src="img/price-1.png" alt="")
  img.price__img.price__img_after(src="img/price-2.png" alt="")
