section.special
  .container
    h2.special__title Специальное предложение только для наших клиентов
    .special__text Вы можете заказать услугу <strong>“Техническое обслуживание”</strong> по привлекательной цене.
    .special__wrap
      .special__subtitle Техническое обслуживание
      .special__price от 85 руб/м2
      ul.special__list
        li.special__item Эксплуатация инженерных систем от 85 руб/м2
        li.special__item Мелкий ремонт
        li.special__item Спец работы
        li.special__item Снабжение любыми материалами
      .special__from
        .special__from-title спец.цена
        .special__from-price от <span>85</span> руб/м<sup>2</sup>
      img.special__tool(src="img/tool.png" alt="")
    .special__partners
      img.special__partners-img(src="img/partner-1.png" alt="")
      img.special__partners-img(src="img/partner-2.png" alt="")
      img.special__partners-img(src="img/partner-3.png" alt="")
      img.special__partners-img(src="img/partner-4.png" alt="")
      img.special__partners-img(src="img/partner-5.png" alt="")
      img.special__partners-img(src="img/partner-6.png" alt="")
      img.special__partners-img(src="img/partner-7.png" alt="")
      img.special__partners-img(src="img/partner-8.png" alt="")
  img.special__img(src="img/special-bg.png" alt="")
