section.types
  .container
    h2.types__title Профессиональный клининг
    .types__text Виды уборки зданий и помещений
    .types__wrap
      .types__item
        .types__item-title Ежедневная (комплексная) уборка
        .types__price от 100 руб/м2
        ul.types__list
          li.types__list-item Мойка напольного покрытия и удаление пыли с поверхностей
          li.types__list-item Мойка дверей и дверных проемов
          li.types__list-item Протирка кондиционеров, выключателей, розеток
        button.types__btn.btn Оставить заявку
      .types__item
        .types__item-title Поддерживающая уборка
        .types__price от 120 руб/м2
        ul.types__list
          li.types__list-item Влажная уборка
          li.types__list-item Удаление пыли с поверхностей
          li.types__list-item Вынос мусора
        button.types__btn.btn Оставить заявку
      .types__item
        .types__item-title Генеральная уборка
        .types__price от 100 руб/м2
        ul.types__list
          li.types__list-item Сухая и влажная уборка поверхностей
          li.types__list-item Мытье окон
          li.types__list-item Дезинфекция помещений
        button.types__btn.btn Оставить заявку
      .types__item
        .types__item-title Специальные виды работ
        .types__price от 100 руб/м2
        ul.types__list
          li.types__list-item Мытье остекления
          li.types__list-item Чистка ковролина и коврового покрытия
          li.types__list-item Работа с натуральным камнем, роторная размывка полов
        button.types__btn.btn Оставить заявку
      .types__item
        .types__item-title Послестроительный клининг
        .types__price от 120 руб/м2
        ul.types__list
          li.types__list-item Обеспыливание всех поверхностей
          li.types__list-item Удаление строительных материалов с поверхностей
          li.types__list-item Санитарно-гигиеническая и антибактериальная обработка
        button.types__btn.btn Оставить заявку
      .types__item
        .types__item-title.types__item-title_mb Снабжение любыми материалами
        .types__item-text Найдем и поставим любые виды расходных материалов от поставщиков по самым привлекательным ценам
        button.types__btn.btn Оставить заявку
