header.header
  .container
    .header__wrap
      img.header__logo(src="img/logo.png" alt="Fides")
      nav.header__nav
        ul.header__list
          li.header__item
            a.header__link(href="#") Услуги
          li.header__item
            a.header__link(href="#") Калькулятор
          li.header__item
            a.header__link(href="#") Качество
          li.header__item
            a.header__link(href="#") Тарифы
          li.header__item
            a.header__link(href="#") Контакты
      .header__info
        a.header__phone(href="tel:84992262436") 8 499 226 24 36
        button.header__btn.btn Оставить заявку
